body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.left, .center, .right {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 30%;
}

.left, .right {
    flex: 1;
    margin: 0 10px;
}

.center {
    flex: 2;
}

.methods div, .details div {
    margin: 10px 0;
    cursor: pointer;
}

.card-details form {
    margin-top: 20px;
}

.card-details p, .c-details p {
    margin: 10px 0;
}

.card-details input, .email input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.card-details button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.card-details button:hover {
    background-color: rgb(38, 24, 238);
}

hr {
    margin: 10px 15px;
    border: 1px solid #ccc;
}

.ss{
    width: 150px;
}
